<!-- <div class="jumbotron jumbotron-fluid">
    <div class="container">
       
      <h1 class="display-4">About US</h1>
    </div>
  </div> -->
  <h2>About Us</h2>
  <br>
  <div class="text-center">
    <div class="row">
        <div class="col">
            
            <p class="text-left">We are an established CCTV and Security Systems Installers who endeavor to provide our customers with the best services and highest quality security camera systems. Our mission is to ensure that many people get the best security cameras for their safety at home, places of business among other locations. We acknowledge that the world continues to change and it is quite unfortunate that not everyone is changing for the better with everyday news of an increasing crime rate. We thus take it upon ourselves to help secure people by providing them the best security camera systems in the market.
                <br>
                Consumers are forced into a dilemma having to choose among a variety of options when it comes to security surveillance. We, Wireless Cameras Solutions, envision bringing forward a more dynamic and simple market place that allows customers to choose the best and high quality technological products at rates that are competitive without the need to hassle through massive catalogues. Our team is highly qualified and trained to provide the customer with well-informed advice, professional service and guidance in both the acquisition and installation of these security cameras.
                <br>
            </p>
        </div>
        <div class="col">
            <img src="../img/shop-front.jpg" class="img-fluid" alt="naveen-distributors">
        </div>
    </div>
